@font-face {
    font-family: 'SM286';
    src: url('SM286.eot') format('embedded-opentype'); /* IE9 Compat Modes */
    src: url('SM286.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('SM286.woff') format('woff'), /* Modern Browsers */
     url('SM286.ttf') format('truetype'), /* Safari, Android, iOS */
     url('SM286.svg#levenim') format('svg'); /* Legacy iOS */
}
/* CSS HEX
--dark-turquoise: #1ccad8;
--blue-sapphire: #1f5673;
--maximum-green: #679436;
--alloy-orange: #ba5c12;
--olive-drab-7: #393a10;*/
body {
  color: #ba5c12;
  font-family: 'SM286', cursive;
  text-align: center;
    background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}
.active {
  background-color: #04AA6D;
}
