@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@font-face {
        font-family: "SM286";
        src: url(SM286.tff);
}
body {
  background-color: black;
}
h1 {
  color: aquamarine;
  font-family: 'SM286', cursive;
  text-align: center;
}
p, h2 {
  color: chartreuse;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
a {
  color: cadetblue;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}
button {
  text-align: center;
}
