@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@font-face {
    font-family: 'SM286';
    src: url('SM286.eot') format('embedded-opentype'); /* IE9 Compat Modes */
    src: url('SM286.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('SM286.woff') format('woff'), /* Modern Browsers */
     url('SM286.ttf') format('truetype'), /* Safari, Android, iOS */
     url('SM286.svg#levenim') format('svg'); /* Legacy iOS */
}
body {
  background-color: black;
  text-align: center;
}
h1 {
  color: aquamarine;
  font-family: 'SM286', cursive;
  text-align: center;
}
p, h2 {
  color: chartreuse;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
a href{
  color: cadetblue;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}
button {
  text-align: center;
}
